# Environments
venv/
.env

# Datasets
dataset/
raw_dataset/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Models
*.keras
*.h5
cv_models/

# Visualization & Results
# *.png
dataset_stats.json
cv_results.json

# IDEs
.vscode/
.idea/
